.nav-login-btn {
  all: unset;
  min-height: 38px;
  padding: 0.375rem 0.75rem;
  background-color: #198754;
  border-radius: 0.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-sizing: border-box;
}

.nav-login-btn:has(.nav-avatar) {
  padding: 0.375rem;
  aspect-ratio: 1; 
}

.nav-avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-avatar__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.nav-avatar-dropdown {
  position: relative;
}

.nav-avatar-trigger {
  height: 38px;
  width: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.nav-avatar-menu {
  position: absolute;
  top: 110%;
  right: 0;

  background: white;
  border-radius: 0.5rem;
  padding: 0.5rem 0;
  min-width: 160px;

  box-shadow: 0 8px 24px rgba(0,0,0,0.15);

  display: flex;
  flex-direction: column;

  opacity: 0;
  pointer-events: none;
  transform: translateY(-5px);
  transition: all 0.2s ease;
}

.nav-avatar-dropdown:hover .nav-avatar-menu {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}





