.profile-page {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.avatar {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-nav {
    flex: 1;
    border: black 3px solid;

}

.profile-content {
    flex: 5;
    border: black 3px solid;
}