.profile-page {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.avatar {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-nav {
    flex: 1;
    display: flex;
    gap: 20px;
}

.profile-nav a {
    text-decoration: none;
}

.profile-content {
    flex: 5;
}